* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

#container {
    margin-top: 5px;
    padding: 10px;
    position: relative;
    border: solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#manishback {
    padding: 5px;
    border: 3px solid black;
    width: 98%;
    height: 65%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden;
    transform: .5s ease; */
}


/* #manishback:hover {
    transform: scale(1.5);
    overflow: hidden;
} */

#text-block {
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: transparent;
    color: white;
    padding: 20px;
    height: 50px;
}

#top {
    text-decoration: none;
}

#arrowimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

ul {
    border: 5px greenyellow;
    position: fixed;
    top: 40px;
    right: 170px;
    list-style: none;
    overflow: hidden;
    background-color: black;
    width: fit-content;
}

ul li {
    /* display: inline-block; */
    padding: 5px;
}

ul li a {
    text-align: center;
    width: 100px;
    display: block;
    padding: 10px 15px;
    color: red;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

ul li a:hover {
    background-color: red;
    color: white;
}

#introheading {
    background-color: rgb(233, 154, 50);
    color: black;
    font-style: oblique;
    font-size: 50px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 3px solid;
}

#intro {
    font-style: oblique;
    color: white;
    font-size: 20px;
    background-color: black;
    text-align: center;
}