* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

#container {
    background-image: url('https://raw.githubusercontent.com/manishgautam30/My-Website/master/images/laptop.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 5px;
    padding-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#manishback {
    margin-right: 10px;
    margin-left: 10px;
    border: 3px solid black;
    width: 98%;
    height: 65%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden;
    transform: .5s ease; */
}


/* #manishback:hover {
    transform: scale(1.5);
    overflow: hidden;
} */

#text-block {
    position: absolute;
    top: 50px;
    left: 30px;
    background-color: transparent;
    color: white;
    padding: 20px;
    height: 50px;
}

#top {
    text-decoration: none;
}

#arrowimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

ul {
    z-index: 100;
    position: fixed;
    top: 40px;
    right: 50px;
    list-style: none;
    overflow: hidden;
    background-color: white;
    width: fit-content;
}

ul li {
    /* display: inline-block; */
    padding: 5px;
}

ul li a {
    text-align: center;
    width: 100px;
    display: block;
    padding: 10px 15px;
    color: red;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

ul li a:hover {
    background-color: red;
    color: white;
}

#imgcontainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
}

#text {
    order: 1;
    display: flex;
    margin: 10px;
    flex-direction: column;
}

#heading {
    margin-bottom: 20px;
    order: 1;
    background-color: aqua;
    border-radius: 5px;
    padding: 3px;
}

#para {
    order: 2;
    padding: 3px;
    background-color: rgb(255, 196, 0);
    font-style: oblique;
    font-weight: bold;
    width: 300px;
    border-radius: 5px;
    text-align: justify;
}

#image {
    order: 2;
}


/*what i do*/

#bag {
    order: 2;
    display: flex;
    margin-top: 10px;
    height: 650px;
    justify-content: center;
    align-content: center;
}

#tagimages {
    width: 90%;
    height: 45%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 50%;
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
}

#tagimages:hover {
    transform: scale(1.3);
}

#divimg {
    border-radius: 10px;
    overflow: hidden;
    margin: 2%;
    width: 350px;
    height: 500px;
    float: left;
}

#linki:hover {
    background-color: blue;
    transform: scale(1.2);
}

#linki {
    background-color: rgb(224, 48, 48);
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    font-size: 20px;
}

#lin {
    margin-top: 10px;
    text-align: center;
    margin: 10px;
    font-size: x-large;
    color: red;
}

#l {
    margin-top: 10px;
    text-align: center;
    margin: 10px 15px 10px;
    color: white;
}

#cope {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(13, 13, 48); */
    /* background-color: rgb(51, 49, 49); */
}

#what {
    background-color: black;
    margin-top: 20px;
    order: 1;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
}

#whatl {
    color: rgb(255, 35, 15);
    font-size: 100px;
}

#workmain {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

#workheading {
    background-color: black;
    margin-top: 20px;
    order: 1;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

#worktitle {
    color: rgb(255, 35, 15);
    font-size: 100px;
}

#workcontent {
    order: 2;
    margin-top: 50px;
}


/* 
------------------------------------------------------- */

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    overflow: hidden;
    border-radius: 50px;
    margin: 30px;
}

.portfolio__img {
    width: 300px;
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), opacity 250ms linear;
    transform: scale(1.2);
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.5);
}


/* ---------------------------------------------------------------------------------------------------- */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


/* Individual portfolio item styles */

.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}